<% include partials/header.ejs %>
<div class = "jumbotro jumbotro-fluid bg-dark">
   <div class = row>
      <div class = col-md-4 ></div>
      <div class = col-md-4>
         <br>
         <h1 class = "text-center light text-light"> Welcome to Fuel Co. </h1>
         <p class = "text-center text-light"> An example fuel company </p>
         <br>
      </div>
      <div class = col-md-4></div>
   </div>
</div>
<div class = row>
   <div class = col-md-1></div>
   <div class = "col-md-10 bg-secondary">
      <br>
      <h3 class = "text-center text-secondary bg-dark"> Wow, would you just look at those pipes! </h3>
      <div class = "row">
         <br><br>
         <div class = col>
            <br>
            <img src = "pipes.jpeg" class = "rounded fluid ">
         </div>
         <div class = "col">
            <br>
            <h5 class = "text-dark bg-light rounded text-center" style = "opacity: 0.5">Here is an article about these pipes</h5>
            <p class = "text-dark">
               Lorem ipsum dolor sit amet, delicata deseruisse ad pri. Semper deserunt ullamcorper at nam. Odio persecuti reprehendunt mea cu, ex vis ceteros convenire explicari. Et gloriatur suscipiantur per, populo iuvaret quo ei.
               Ne quo putant suavitate, epicurei assueverit qui no, nisl illud molestiae eu quo. In ius quot labitur delenit, aperiri fastidii suavitate ea mea. Ei mel deleniti ponderum, pro modo erroribus constituto in, virtute mentitum persecuti nec no. Nec ut solet melius inermis, an integre ponderum quaestio vim, rebum aeterno docendi eam et. Id aeque primis his. Mel timeam noluisse et, duis reque quando quo at.
               Eripuit propriae an eam, graeco alienum nostrum ne vis. Ad duo sumo adversarium, duo rebum nihil suscipit ei. Te eos dictas epicurei. Officiis mediocrem pro ei, ex molestie adversarium usu, ei per malis sonet prompta. Est ea nisl meis reformidans.
               Ei vel facilisi perpetua. Eam at brute delenit pericula, an sed mundi blandit scriptorem, vis deleniti mediocrem petentium no. Ne duo duis inani, dicat expetendis ne vis. Ludus latine eos in. Viris saperet pri ne.
            </p>
         </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br>
   </div>
   <div class = col-md-1></div>
</div>
</body>
</html>
